<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images-assets.nasa.gov/image/PIA19830/PIA19830~medium.jpg);">
  <div class="container">
    <h1>Travel in the space</h1>
    <p>Have a nice trip everywhere in the universe</p>
    <a class="btn btn-ghost" href="#">lift of</a>
  </div>
</div>
