<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images-assets.nasa.gov/image/PIA19830/PIA19830~medium.jpg);">
  <div class="container">
    <div class="inside">
      <h1>Travel into space</h1>
      <p>Discover the universe</p>
      <a class="btn btn-ghost btn-lg" href="#"><strong>Lif Off</strong></a>
    </div>
  </div>
</div>
