
<div class = "container">
  <div class="card-deck">
    <div class="card">
      <img src="https://www.loc.gov/static/managed-content/uploads/sites/16/2018/09/pluto-rich-color.jpg" />
      <div class="card-body">
        <h5 class="card-title">Planet title</h5>
          <p class="card-text">This is a great planet.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://images.newscientist.com/wp-content/uploads/2017/06/21180000/planet-10-orange-blue-final-small.jpg" />
      <div class="card-body">
        <h5 class="card-title">Planet title</h5>
        <p class="card-text">This is a great planet.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://www.loc.gov/static/managed-content/uploads/sites/16/2018/09/pluto-rich-color.jpg" />
      <div class="card-body">
        <h5 class="card-title">Planet title</h5>
        <p class="card-text">This is a great planet.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://www.loc.gov/static/managed-content/uploads/sites/16/2018/09/pluto-rich-color.jpg" />
      <div class="card-body">
        <h5 class="card-title">Planet title</h5>
        <p class="card-text">This is a great planet.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
