<div class="container">
  <div class="text-align">
    <h1 class = "header_planet">Spacebnb <%= image_tag "https://cdn.pixabay.com/photo/2014/04/03/11/58/rocket-312767_960_720.png" %></h1>

  </div>
  <%= render "shared/cards" %>
</div>
