<h1 class = "header_planet">My Planets</h1>

<p class = "mx-3"><%= link_to "Add a planet", new_planet_path, class: "btn btn-secondary" %></p>

<ol>
  <% @planets.each do |planet| %>
    <li><%= link_to planet.name, my_planet_path(planet) %></li>
  <% end %>
</ol>
