.banner {
  background-size: cover;
  background-position: center;
  height: 600px;
  padding: 150px;
  display: flex;
  margin-bottom: 20px;
  // mix-blend-mode: hard-light;
}

.inside {
  display: block;
  margin-top: 120px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-ghost {
  color: white;
  border: 2px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  background-color: white;
}

.navbar-brand img {
  padding-top: 8px;
}

.notice {
  margin: 0;
}
