.card {
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border: 2px solid white;
padding: 5px;
border-radius: 10px;
width: 80px;
}

.card img {
  // height: 170px;
  // width: auto;
  height: 170px;
  width: 100%;
  object-fit: cover;
}

img {
  border-radius: 10px;
}
