.card {
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border: 2px solid white;
padding: 5px;
border-radius: 10px;
width: 80px;
}

.card img {
  // height: 170px;
  // width: auto;
  height: 170px;
  width: 100%;
  object-fit: cover;
}

img {
  border-radius: 10px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  object-fit: cover;
  margin: 20px 200px 20px 200px;
  border-radius: 10px;
  height: 150px;
}

.card-product img {
  height: 100%;
  width: 120px;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: black;
  text-decoration: none;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product a {
  text-decoration: none;
}

.card-product p {

}

.price {
  margin-top: 40px;
}
