.navbar-lewagon {
  justify-content: space-between;
  background: black;
  margin-bottom: 15px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 35px;
  border-radius: 0%;
  padding-top: 2px;
}

.nav-icon-colour {
  color: white;
}

.nav-icon-colour:hover {
  color: #167FFB;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #167FFB;
}
