.navbar-lewagon {
  justify-content: space-between;
  background: black;
  margin-bottom: 15px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}



.nav-icon-colour {
  color: white;
}

.nav-icon-colour:hover {
  color: #167FFB;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #167FFB;
}
